<h1>Shopping Cart</h1>

<% if @cart.empty? %>
    <p>Your cart is currently empty. Please insert some articles.</p>
<% else %>
    <%= link_to 'Empty your Cart', cart_clear_path %>
<% end %>

<br><br><br>

<% total = 0 %>

<ul>
<% @cart.each do | id, quantity | %>
  <% article = Article.find_by_id(id) %>

  <li>
    <h3><%= link_to article.title, article %></h3>
    <p> Description: <%= article.description %></p>
    <p> <%= image_tag(article.image_url, :class => "img-responsive", :size => "150x50")%> </p>
    <p> Price: <%= number_to_currency(article.price, :unit => '€') %> </p>
    <p> Quantity: <%= quantity %> </p>
  </li>
  <% total += quantity * article.price %>

<% end %>

<br>
<p><b> Total: <%= number_to_currency(total, :unit => '€') %> </b></p>

</ul>


