<h1>Shopping Cart</h1>

<% if @cart.empty? %>
    <p>Your cart is currently empty. Please insert some articles.</p>
<% else %>
    <h3><%= link_to 'Empty your Cart', cart_clear_path %></h3>
<% end %>

<br><br>

<% total = 0 %>

<div class="row">

<% @cart.each do | id, quantity | %>

<div class="col-sm-4 col-md-4">
  <div class="thumbnail">

  <% article = Article.find_by_id(id) %>

  <ul>
    <h3><%= link_to article.title, article %></h3>
    <p> Description: <%= article.description %></p>
    <p> <%= image_tag(article.image_url, :class => "img-responsive", :size => "150x50")%> </p>
    <p> Price: <%= number_to_currency(article.price, :unit => '€') %> </p>
    <p> Quantity: <%= quantity %> </p>
    <%= link_to 'Delete', cart_clear_path  %>
  </ul>

  <% total += quantity * article.price %>

  </div>
</div>
<% end %>

</div>

<br>
<p><b> Total: <%= number_to_currency(total, :unit => '€') %> </b></p>

<br>

<h3><%= link_to 'Back to articles', articles_path %></h3>

