<% if current_user.try(:admin?) %>
    <h2><%= link_to 'New Article', new_article_path %></h2>
<% end %>


<h1>Listing Articles</h1>

  <div class="row">
    <% @articles.each do |article| %>

        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <td><%= image_tag(article.image_url, :class => "img-responsive") %></td>
            <div class="caption">
              <h3><%= link_to article.title, article %></h3>
              <p><%= truncate(strip_tags(article.description))%></p>

              <p><a href="/cart/<%= article.id %>"> Warenkorb </a></p>
              <a href="#" class="btn btn-primary" role="button">Add to Wishlist</a></p>
              <p>
                <% if current_user.try(:admin?) %>
                <%= link_to 'Edit', edit_article_path(article) %>
                <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
  </div>

<br>
